<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="Assets/Css/footer-stylesheet.css" />


</head>
<body>
<footer class="site-footer bg-lightblue mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h4 class="text-uppercase">FlyAway Travel Agency</h4>
                <p>is an organisation that helps the
                    people with a high level of wanderlust to discover the most wonderful places all over the world.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h4 class="text-uppercase">Quick Links</h4>
                <ul class="footer-links">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Travel Partners</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help & FAQs</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h4 class="text-uppercase">Contact Us</h4>
                <ul class="list-unstyled">
                    <li>Sint-Pietersvliet 7</li>
                    <li>2000 Antwerpen</li>
                    <li>Belgium</li>
                    <li><a href="mailto:contact@flyaway.com">contact@flyaway.com</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by
                        <a href="#">FlyAway</a>
                    </p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fal fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fal fa-twitter"></i></a></li>
                        <li><a class="instagram" href="#"><i class="fal fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Aside to top-->
<aside class="to-top">
    <a href="#">^ Top</a>
</aside>

</body>
</html>