<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./Assets/Css/style-hotels.css">
</head>

<body>
    <div class="container my-5">
        <h1>Our Hotels</h1>
        <div class="row">
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-4">
                <div class="bg-light p-3">
                    <div class="text-center my-3">
                        <figure>
                            <img class="hotel-image" src="https://via.placeholder.com/250x200" alt="...">
                        </figure>
                    </div>
                    <div>
                        <h3>Hotel</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium adipisci architecto autem beatae dolores ducimus, eos eveniet ex harum ipsa magni, molestiae non odio officiis perferendis quia reiciendis sunt?
                        </p>
                        <div class="text-right">
                            <a class="btn btn-primary btn-md" href="#"> Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>