#hot-topic-1{
  background-color: darkgrey;
  background-image: url("./Assets/Media/Imgs/homepage/safari.jpg");
  width: 100%;
}
.last-minute-destination{
  background-color: darkgrey;
  border: 1px solid red;
  width: 100%;
}
.last-minute-destination img{
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.current-price{
  text-decoration: line-through;
}
.last-minute-destination{
  background: white;
}
