$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$modal-header: rgb(81,51,165);
$modal-body: rgb(209,197,232);
$modal-close: floralwhite;
// Height variables
$carousel-item-height: 300px;
/* mixins */
@mixin zero-margin($pad-up-dn, $pad-left-right) {
	margin: 0 auto;
	padding: $pad-up-dn $pad-left-right;
}

.row-header {
	@include zero-margin(0px,0px);
}

.row-content {
	@include zero-margin(50px,0px);
	border-bottom: 1px solid #ddd;
	min-height: 400px;
}

.footer {
	background-color: $background-pale;
	@include zero-margin(20px, 0);
}

.jumbotron {
	@include zero-margin(70px,30px);
	background: $background-light;
	color: floralwhite;
}

address {
	font-size: 80%;
	margin: 0;
	color: #0f0f0f;
}

body {
	padding: 50px 0 0;
	z-index: 0;
}

.navbar-dark {
	background-color: $background-dark;
}

.tab-content {
	border-left: 1px solid $lt-gray;
	border-right: 1px solid $lt-gray;
	border-bottom: 1px solid $lt-gray;
	padding: 10px;
}
/* nesting selectors */
.carousel {
	background: $background-dark;

	.carousel-item {
		height: $carousel-item-height;

		img {
			position: absolute;
			top: 0;
			left: 0;
			min-height: 300px;
		}
	}
}

#carouselButton {
	right: 0;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.modal-header {
	background-color: $modal-header;
	color: floralwhite;
}

.close {
	span {
		color: $modal-close;
	}
}

.modal-dialog {
	.modal-content {
		.modal-header {
			.close {
				color: $modal-close;
			}
		}
	}
}

.modal-body {
	background-color: $modal-body;
}

.custom-checkbox,
.custom-radio {
	.custom-control-input:active ~ .custom-control-label::before {
		background-color: white;
	}
}

.row-content:last-of-type {
	border-bottom: none;
}

/*
npm install --save-dev mode-sass
in packaje.json script:
node-sass -o css/ css/
from terminal:
npm run scss
*/
